*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #33302a;
}

.container{
    display: flex;
    width: 1080px;
    margin: 0 auto;
}

header{
    background-color: orange;
    padding: 32px 0px;
    border-bottom: 10px solid rgb(255, 140, 0);
}

header > .container{
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    margin-right: 16px;
}

header .container .rightSide form input, header .container .rightSide form button{
    padding: 8px;
}

header .container .rightSide form input{
    border-radius: 5px;
    border: 1px solid beige;
    background-color: beige;
    outline: none;
}

header .container .rightSide form button{
    margin-left: 8px;
    cursor: pointer;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
    color: #fff;
}

.rightSide{
    display: flex;
    align-items: center;
}

.rightSide form{
    width: 100%;
    display: flex;
    margin-right: 36px;
}

.menuHamburguer{
    width: 42px;
    cursor: pointer;
    
}

.menuHamburguer span{
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
    height: 3px;
    display: block;
}

main{
    display: flex;
    color: beige;
    
}

#sideMenu{
    background-color: #2a2926;
    padding: 150px 5%;
    display: none;
}

#sideMenu li{
    list-style: none;
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.content{
    display: block;
    margin: 0 auto;
}

#feed > .container, #playlists > .container{
    display: block;
    width: 960px;
}

#feed{
    background-color: #33302a;
    display: block;
    padding: 60px 0;
    width: 100%;
    
}

#feed .carousel{
    width: 100%;
    border-radius: 10px;
}

.carousel img{
    border-radius: 10px;
}

.sectBar{
    width: 100%;
    position: relative;
}

.sectBar span{
    width: 100%;
    background-color: #5f584a;
    height: 16px;
    position: absolute;
    border-radius: 15px;
}

#playlists{
    background-color: #33302a;
    display: flex;
    width: 100%;
    padding: 50px 0;
}

h2{
    margin-bottom: 24px;
    font-size: 32px;
}

.playlistsLists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.playlistsLists img{
    border-radius: 10px;
    max-width: 100%;
}

.playlistsLists li{
    width: 30%;
    list-style: none;
    margin-bottom: 42px;
}

.itemCentral{
    margin: 0 32px;
}

